{% extends 'blogapp/base.html' %}

{% load static %} <!-- This will be used to load static files like CSS -->

{% block extra_css %}
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="my-4">All blog posts</h1>
    <div class="row">
      <div class="col-md-8">
        {% for post in page %}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title"><a href="{% url 'blog_detail' post.pk %}" class="text-decoration-none">{{ post.title }}</a></h2>
              <p class="card-text">{{ post.content|truncatewords:30 }}</p>
              <a href="{% url 'blog_detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Written by {{ post.author.user.username }} on {{ post.date }}
            </div>
          </div>
        {% empty %}
          <p class="text-muted">No blog posts yet.</p>
        {% endfor %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if page.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>
            {% if page.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <div class="card my-4">
          <h5 class="card-header">Authors</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              {% for author in authors %}
                <li><a href="{% url 'author_posts' author.id %}">{{ author.user.username }}</a> ({{ author.num_posts }} posts)</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
