{% extends 'blogapp/base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">Written by {{ post.author.name }} on {{ post.date }}</h6>
            <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
        <a href="{% url 'blog_list' %}" class="btn btn-primary">Back to all blog posts</a>
      </div>
    </div>
  </div>
{% endblock %}
